body {
    background-image: url(../img/oriental-tiles.png);
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: #FFF
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }
